.label_container{
  position: absolute;
  bottom:90px;
  right: 0;
}

.content{
  display: flex;
  align-items: center;
  background-color: #0d0d0d;
  color: white;
  font-size: 12px;
  font-family: 'Segoe UI';
  font-weight: bold;
  height: 40px;
  padding: 0px 50px 0px 50px;
  justify-content: center;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px ;
}
