<div class="container_home">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="PROMOTION"
    gamePrice="R$ 299,99"
    gameType="Para você que gosta de cavalgar">
</app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 299,99"
    gameType="O melhor de todos">
</app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 299,99"
    gameType="Flopou mas é legal">
</app-card>
<app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 299,99"
    gameType="Entre todos o maior">
</app-card>
</div>
